<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <!-- nav -->
    <nav>
      <h1>Hello ! this is Batoul</h1>
      <ul class="nav-dropdown">
        <a href="cv.html" class="nav-item">cv</a>
        <a href="gallery.html" class="nav-item">gallery</a>
        <a href="contact.html" class="nav-item">contact</a>
      </ul>
    </nav>
    <!-- contact page content -->
    <div class="content">
      <h1>Contact Information</h1>
      <p>You can reach me using the following contact details:</p>

      <div class="contact-info">
        <p><strong>Name:</strong> Batoul Saayed</p>
        <p><strong>Email:</strong> batoul.saayed@lau.edu</p>
        <p><strong>Phone:</strong> 78 942 735</p>
        <p><strong>Address:</strong> Beirut, Lebanon</p>
      </div>
    </div>
  </body>
</html>
