<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resume</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>

  <body>
    <!-- nav -->
    <nav>
      <h1>Hello ! this is Batoul</h1>
      <ul class="nav-dropdown">
        <a href="cv.html" class="nav-item">cv</a>
        <a href="gallery.html" class="nav-item">gallery</a>
        <a href="contact.html" class="nav-item">contact</a>
      </ul>
    </nav>

    <!-- cv page content -->
    <div class="cv-page">
      <!-- avatar -->
      <div class="avatar">
        <img class="avatar-img" src="../../assets/images/Mee.jpg" alt="" />
      </div>

      <!-- info -->
      <div class="info">
        <h1 class="info-title">Batoul Saayed</h1>
        <div class="info-specialize">Junior Developer</div>
        <ul class="info-contact">
          <li class="info-contact-item">
            <span class="info-contact-item-span">Phone:</span> 78 942 735
          </li>
          <li class="info-contact-item">
            <span class="info-contact-item-span">Email:</span>
            batoulsaayed2@gmail.com
          </li>
          <li class="info-contact-item">
            <span class="info-contact-item-span">Address:</span> Beirut, Lebanon
          </li>
        </ul>
      </div>

      <!-- education -->
      <div class="education">
        <ul class="education-list">
          <li class="education-list-item">Senior Student</li>
          <li class="education-list-item">Computer Science</li>
          <li class="education-list-item">Lebanese American University</li>
        </ul>
      </div>

      <!-- intro -->
      <div class="intro">
        <h2>INTRODUCE MYSELF</h2>
        <p class="intro-desc">
          I am a passionate computer science student with a strong foundation in
          programming languages like Python and Java. My academic journey is
          fueled by a curiosity for emerging technologies and a desire to
          innovate solutions to real-world problems. I am dedicated to honing my
          skills and contributing to the ever-evolving world of technology.
        </p>
      </div>

      <!-- experience -->
      <div class="experience">
        <h2>EXPERIENCE</h2>

        <div class="experience-item">
          <h4>Full stack Developer</h4>
          <div class="experience-time">
            <span>August 2023 - October 2023</span>
            <span>IDS company</span>
          </div>
          <div class="experience-desc">
            I am contributing to the development of web applications using C#
            and ASP.NET, gaining hands-on experience in coding, debugging, and
            collaborating with a cross-functional team.
          </div>
        </div>

        <div class="experience-item">
          <h4>Student</h4>
          <div class="experience-time">
            <span>2021 - 2024</span>
            <span>Lebanese American University</span>
          </div>
          <div class="experience-desc">
            I am a senior student at LAU majoring in computer science. I will
            graduate in May 2024.
          </div>
        </div>
        <h2 class="experience-skills">SKILLS</h2>
        <ul class="experience-skills-item">
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Java</li>
          <li>MySql</li>
          <li>Python</li>
        </ul>
      </div>

      <!-- projects -->
      <div class="project">
        <h2>PROJECTS</h2>
        <div class="project-item">
          <h4>Database management project — Chain Restauran</h4>
          <div class="project-time">Fall 2022</div>
          <div class="project-desc">
            he chain restaurant DBMS project focuses on a centralized database
            system for efficient management of multiple locations, enhancing
            data accuracy and optimizing resource allocation.
            <ul>
              <li>Worked on Oracle database.</li>
              <li>SQL - NoSQL</li>
            </ul>
          </div>
        </div>

        <div class="project-item">
          <h4>Software engineer project — Beauty center</h4>
          <div class="project-time">Spring 2023</div>
          <div class="project-desc">
            The beauty center software engineer project entails developing a
            comprehensive software solution tailored for managing appointments,
            client profiles, services offered, and inventory tracking within a
            beauty center.
            <ul>
              <li>HTML and CSS</li>
              <li>PHP</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
